{% extends 'index.html' %}
{% load static %}
{% block content %}
    <section class="news">
        <header class="header-img d-flex align-items-end justify-content-center"
                style="background-image: url('{% static 'img/aktualnosci.jpg' %}');">
        </header>
        <div class="header-text d-flex w-100 justify-content-center">
            <h1 class="display-1 mt-0 px-3 py-3">Aktualności</h1>
        </div>
        <div class="container-fluid container-md">
            <div class="row mt-5">
                <aside class="py-5 col-12 col-md-3 px-5 px-md-0">
                    <ul id="fixedAside" class="list-group list-group-flush pl-0">
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                        <li class="list-group-item text-center"><a href="#">link</a></li>
                    </ul>
                </aside>
                <div id="pxeMainDiv" class="main-content py-5 px-1 px-sm-4 px-md-5 col-12 col-md-9 d-flex flex-column align-items-center">
                    {% for i in object_list %}
                        {% if not i.facebook_post_id %}
                            <div class="post-container w-100 d-flex flex-column align-items-center">
                                {% if i.img %}
                                    <div class="img-container w-100 ">
                                        <img class="img-fluid card-img-top" src="{{ i.img.url }}"
                                             alt="Card image cap">
                                    </div>
                                {% endif %}
                                <div class="card-body rounded mb-5">

                                    <h4 class="card-title border-bottom border-secondary pb-1 d-inline">{{ i.title }}</h4>
                                    <h6 class="card-subtitle small text-muted mt-3 mb-2">{{ i.date|date:'Y-m-d' }}</h6>
                                    <p class="card-text">
                                        {{ i.content|truncatechars:300 }}
                                    </p>

                                    <a href="{% url "post-detail" i.slug %}" class="btn btn-outline-secondary">Przejdź
                                        do postu</a>

                                </div>
                            </div>

                        {% elif i.facebook_post_id %}
                            <div class="fb-post mb-5 d-lg-flex justify-content-lg-center"
                                 data-href="{{ i.facebook_permalink_url }}"
                                 data-width="550" style="overflow-x: auto; max-width: 100%;" data-lazy="true"></div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}