{% extends 'index.html' %}
{% load widget_tweaks %}
{% load fontawesome_5 %}
{% load static %}
{% block content %}
    <header class="header-video">
        <div class="overlay"></div>
        <video playsinline autoplay loop muted preload="metadata">
            {% if animal.species == 'cat' %}
                <source src="{% static 'video/cat.mp4' %}" type="video/mp4">
            {% else %}
                <source src="{% static 'video/dog.mp4' %}" type="video/mp4">
            {% endif %}
        </video>
    </header>
    <section class="animal-details position-relative">
        <div class="header-text-video d-flex w-100 justify-content-center">
            <h1 class="h-like-xlg my-0 px-3 py-3">{{ animal.name|upper }}</h1>
        </div>
        <div class="container mt-0">
            <div class="description">
                <div class="card pb-5 w-100">
                    <div class="row no-gutters">
                        <div class="col-md-4 d-flex align-items-center">
                            <img class="card-img img-fluid" src="{{ animal.photo.url }}"
                                 alt="zdjęcie {{ animal.name }}'a">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Gatunek:
                                    {% if animal.species and animal.species != 'other' %}
                                        {{ animal.get_species_display }}
                                    {% elif animal.species == 'other' %}
                                        {{ animal.other_species }}
                                    {% endif %}
                                </h5>
                                <h5 class="card-title">Przybliżony wiek: {{ animal.age }}</h5>
                                <h5 class="card-title">Rasa:
                                    {% if animal.breed %}
                                        {{ animal.breed }}
                                    {% else %}
                                        nieznana
                                    {% endif %}
                                </h5>
                                <h5 class="card-title">
                                    Płeć: {{ animal.get_gender_display }}
                                </h5>
                                <h5 class="card-title">Wielkość:
                                    {{ animal.get_size_display }}
                                </h5>
                                {% if animal.coat %}
                                    <h5 class="card-title">Umaszczenie: {{ animal.coat }}</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="w-100 card-footer mt-1">
                        <p class="card-text">{{ animal.additional_information }}</p>
                    </div>
                </div>
            </div>
            <h1 class="text-center">Galeria</h1>

            <div class="gallery-wrapper w-100 d-flex justify-content-center align-items-center"
                 style="background-image:url('{% if animal.species == 'dog' %}{% static "img/dog-gallery-bg.svg" %}{% elif animal.species == 'cat' %}{% static "img/cat-gallery-bg.svg" %}{% endif %}');">
                {% for animal in animal.photos.all %}
                    <figure>
                        <a data-fancybox="gallery" href="{{ animal.photos.url }}">
                            <img src="{{ animal.photos.url }}"
                                 class="img-fluid rounded"></a>
                    </figure>
                {% endfor %}
                {% if not animal.photos.all %}
                    <h2>pusto.. </h2>
                {% endif %}
            </div>
        </div>
    </section>
    {% include 'mails/subscribe.html' %}
{% endblock %}
