{% extends 'index.html' %}
{% load widget_tweaks %}
{% load fontawesome_5 %}
{% load static %}
{% block content %}
    <section class="adoption">
        <header class="header-img d-flex align-items-end justify-content-center"
                style="background-image: url('{% static 'img/adoption-background.jpg' %}');">
            <div class="header-text d-flex justify-content-center w-100">
                <h1 class="h-like-xlg px-3 py-3">Adopcje</h1>
            </div>
        </header>
        {% include 'shelter/animal-list-search-modal.html' %}
        <div class="adoption-welcome bg-primary d-flex flex-column justify-content-center align-items-center px-2 py-3 w-100">
            <div class="container d-flex flex-column align-items-center">
                <blockquote class="blockquote text-center" id="searchButton">
                    <p class="mb-0">"Prawdziwy przyjaciel pozostawi ślady
                        łap na Twoim sercu"</p>
                    <footer class="blockquote-footer">Roger Caras</footer>
                </blockquote>
                <button type="button"
                        class="search-animals-button btn d-flex justify-content-center align-items-center py-2 px-4 animate__animated animate__tada animate__delay-1s "
                        data-toggle="modal" data-target="#searchModal">
                    {% fa5_icon "search" size='fa-2x' color='white' %} <span class="ml-2">Wyszukaj</span>
                </button>
            </div>
        </div>
        <div class="animal-cards container">
            {% if animal_list %}
                <div class="row py-3">
                    {% for i in page_obj %}
                        <div class="col-12 col-md-6 col-lg-4 px-3 py-3">
                            <a href="{% url 'animal-detail' i.slug %}"
                               class="animal-card-link text-decoration-none">
                                <div class="card d-flex align-items-center">
                                    <img class="card-img-top" src="{{ i.photo.url }}"
                                         alt="Fotografia zwierzaka">
                                    <div class="card-body w-100">
                                        <div class="card-body-overlay"></div>
                                        <div class="card-header-container d-flex justify-content-start">
                                            <h5 class="card-title px-1 py-1">
                                                {% if i.age > 4 %}
                                                    {{ i.name|upper }} / {{ i.age }} lat
                                                {% elif i.age == 1 %}
                                                    {{ i.name|upper }} / {{ i.age }} roczek
                                                {% elif i.age < 5 %}
                                                    {{ i.name|upper }} / {{ i.age }} lata
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <p class="card-text truncate">{{ i.additional_information }}</p>
                                    </div>
                                    <button type="button" class="card-btn btn btn-primary w-75 mt-2 py-2">Więcej..
                                    </button>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="w-100 not-found d-flex justify-content-center align-items-end mb-5"
                     style="background-image: url('{% static "img/empty-category-dog.jpg" %}');
                             background-position: center; background-size: contain; background-repeat: no-repeat">
                    <h3 class="not-found-text text-center py-2 px-2 d-inline">Nic nie znalazłem..</h3>
                </div>
            {% endif %}
        </div>
        {% include 'includes/pagination.html' %}
    </section>
{% endblock %}
