notes.txt

.DS_store

*.sqlite3
__pycache__/

*.env
env/

.idea/

mediafiles/
staticfiles/admin
staticfiles/css
staticfiles/fontawesome_5
staticfiles/staticfiles.json
staticfiles/node_modules
static_compiled/

