.footer {
  background-color: $secondary;

  .container {
    a {
      i {
        font-size: 3rem;
        color: $primary;

        &:hover {
          color: rgba(0,0,0,0.6);
          transition: color 0.3s;
        }
      }
    }
  }
}