{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Krakow</title>
</head>
<body>
<h1 style="color: orange; background: rgba(0,0,0,0.7)">Cześć, właśnie dostałeś testową wiadomość od SCHRONISKA DLA BEZDOMNYCH ZWIERZĄT W KRAKOWIE</h1>
<h6>...a tak w ogóle, to nie zwykły tekst, tylko HTML.. tsss</h6>
<p>Niżej wyświetli się wiadomość z bazy danych, którą administrator schroniska wpisze sobie w panelu administratora.</p>
<p style="border: 1px solid orange">{{ email }}</p>
<span style="color: orange; background: rgba(0,0,0,0.7)">Taka to sprawa ;)</span>
</body>
</html>