
// colors
$primary: #f8f9f5;
$secondary: #FFA500;
$dark : rgba(0,0,0,0.9);
$bg-light: rgba(0,0,0, 0.2);
$bg-dark: rgba(0, 0, 0, 0.9);

$dropdown-link-hover-color: $primary;

$navbar-dark-color: $primary;
$navbar-dark-hover-color: $secondary;
$navbar-dark-active-color: $secondary;


