// class for jquery to set the navigation background when toggled.
.nav-bg-dark {
  background-color: $nav-bg-dark;
}

nav {
  background-color: $nav-bg;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  transition: height 0.6s, background-color 1s;

  .container {
    .navbar-brand {
      svg {
        transition: height 0.6s;
      }
    }
    .navbar-toggler {
      height: 3rem;
    }
  }


  &.active {
    background-color: $nav-bg-dark;
    transition: height 0.6s, background-color 1s;

    div {
      .navbar-brand {
        svg {
          height: 80px;
          transition: height 0.6s;
        }
      }
    }
  }
}
