nav {
  background-color: $bg-light;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  transition: height 0.6s, background-color 0.3s;


  .navbar-brand > svg {
    transition: height 0.6s;
  }

  .navbar-toggler {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    transition: all 0.2s;
    @include media-breakpoint-up(lg) {
      display: none !important;
    }

    &-element {
      width: 30px;
      height: 0;
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      transition: all 0.2s;
      position: relative;

      &:nth-child(1) {
        top: -5px;
      }

      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3) {
        top: 5px;
      }
    }

    &[aria-expanded='true'] {
      transition: all 0.2s;

      .navbar-toggler-element {
        border: 1px solid $secondary;
        transition: all 0.2s;
      }

      :nth-of-type(1) {
        transform: rotate(45deg);
        top: 2px;
      }

      :nth-of-type(2) {
        opacity: 0;
      }

      :nth-of-type(3) {
        transform: rotate(135deg);
        top: -2px;
      }
    }
  }

  .navbar-collapse {
    transition: all 0.2s !important;

    .nav-link:focus {
      outline: none;
    }

    .dropdown-menu {
      padding: 0;
      margin: 0;
      display: block;
      visibility: hidden;
      max-height: 0;
      opacity: 0;
      transition: .3s all;

      .dropdown-item {
        text-align: center;
        visibility: hidden;
        transition: background-color 0.3s ease;

        &:first-child {
          border-radius: 3px 3px 0 0;
        }

        &:last-child {
          border-radius: 0 0 3px 3px;
        }

        &:hover {
          background-color: $secondary;
        }
      }

      &.show {
        max-height: 200px;
        visibility: visible;
        opacity: 1;
        transition: .3s all;

        .dropdown-item {
          font-size: $font-size-base;
          display: block;
          visibility: visible;
        }
      }
    }

    @include media-breakpoint-down(md) {
      font-size: $font-size-lg;
    }

    .empty {
      @include media-breakpoint-down(md) {
        height: 100vh;
      }
    }

    &.collapsing {
      -webkit-transition: height 0.7s;
      -moz-transition: height 0.7s;
      -ms-transition: height 0.7s;
      -o-transition: height 0.7s;
      transition: height 0.7s;
    }
  }

  &.active {
    background-color: $bg-dark;
    transition: height 0.6s, background-color 1s;
    box-shadow: 0 0 10px 0 black;

    .navbar-brand > svg {
      height: 60px;
      transition: height 0.6s;
    }
  }
}

