.nav-bg-dark {
  background-color: $nav-bg-dark;
}

nav {
  background-color: $nav-bg;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  transition: height 0.6s, background-color 1s;

  .container {
    .navbar-brand {
      svg {
        transition: height 0.6s;
      }
    }

  .navbar-toggler {
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    transition: all 0.2s;
    @include media-breakpoint-up(lg) {
      display: none !important;
    }

    &-element {
      width: 30px;
      height: 0;
      border: 1px solid #FFFFFF;
      background-color: #FFFFFF;
      transition: all 0.2s;
      position: relative;

      &:nth-child(1) {
        top: -5px;
      }

      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3) {
        top: 5px;
      }
    }

    &[aria-expanded='true'] {
      transition: all 0.2s;

      .navbar-toggler-element {
        border: 1px solid $secondary;
        transition: all 0.2s;
      }

      :nth-of-type(1) {
        transform: rotate(45deg);
        top: 2px;
      }

      :nth-of-type(2) {
        opacity: 0;
      }

      :nth-of-type(3) {
        transform: rotate(135deg);
        top: -2px;
      }
    }
  }

    .navbar-collapse {
      .collapse-trick-close {
        height: 0;
        transition: height 0.7s;

        &.collapse-trick-open {
          height: 100vh;
          transition: height 0.7s;
        }
      }


      &.collapsing {
        -webkit-transition: height 0.7s;
        -moz-transition: height 0.7s;
        -ms-transition: height 0.7s;
        -o-transition: height 0.7s;
        transition: height 0.7s;
      }
    }

  }

  &.active {
    background-color: $nav-bg-dark;
    transition: height 0.6s, background-color 1s;
    box-shadow: 0 0 10px 0 black;

    div {
      .navbar-brand {
        svg {
          height: 80px;
          transition: height 0.6s;
        }
      }
    }
  }
}
