.news {
  aside {
    a {
      color: black;
    }
  }

  .main-content {
    .post-container {

      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
        }
      }

      .card-body {
        width: 80%;
        background-color: $primary;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .news {
    .main-content {
      .img-container {
        img {
          width: 100%;
        }
      }

      .card-body {
        width: 100%;
      }
    }
  }
}
