* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  //overflow-x: hidden;
}

header.header-video {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 50vh;
  width: 100%;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
}

header.header-img {
  position: relative;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.header-text {
  position: absolute;
  z-index: 2;
  bottom: 0;
  -ms-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);

  h1 {
    color: $secondary;
    background-color: $bg-dark;
  }

  &-video {
    position: absolute;
    z-index: 2;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      color: $secondary;
      background-color: $bg-dark;
    }
  }
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
}

.h-like-sm {
  @include media-breakpoint-down(md) {
    font-size: 1.8rem;
  }
  @supports (font-size: clamp(2rem, 3vh, 2.5rem)) {
    font-size: clamp(1.8rem, 3vh, 2.5rem);
  }
}

.h-like-md {
  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
  }
  @supports (font-size: clamp(2.5rem, 3vh, 3rem)) {
    font-size: clamp(2.5rem, 2.5vh, 3rem);
  }

}

.h-like-lg {
  @include media-breakpoint-down(md) {
    font-size: 3rem;
  }
  @supports (font-size: clamp(2.5rem, 3vh, 4rem)) {
    font-size: clamp(3rem, 3.5vh, 4.5rem);
  }
}

.h-like-xlg {
  @include media-breakpoint-down(sm) {
    font-size: 20px;
  }
  @supports (font-size: clamp(4rem, 10vw, 5rem)) {
    font-size: clamp(4rem, 10vw, 5rem);
  }
}