.welcome {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    color: $secondary;
    text-align: center;
  }

  h5 {
    padding: 0 16px;
    color: $primary;
    text-align: center;
  }
}

.test {
  height: 300px;
  width: 300px;
}
@include media-breakpoint-down(md) {
  .welcome {
    .display-1 {
      font-size: 4.5rem;
    }
    h5 {
      font-size: $font-size-base;
    }
  }
}
@include media-breakpoint-down(xs) {
  .welcome {
    .display-1 {
      margin-top: 3rem;
      font-size: 3rem;
    }
    h5 {
      font-size: $font-size-base;
    }
  }
}