.subscribe {
  -webkit-filter: opacity(1);
  .subscribe-body {
    background-color: rgba(0,0,0,0.9);
    border: 3px solid $secondary;
  }
  .email-input {
    outline: none;
  }

  h2 {
    font-family: 'Sriracha', cursive;
    color: white;
    font-weight: bold;
    font-size: 3em;
    span{
      color: $secondary;
      font-weight: normal;
    }
  }
  form {
    @include media-breakpoint-down(md){
      width: 100%;
      flex-wrap: wrap;
      input {
        margin-top: 15px;
      }
    }
  }

  p {
    color: white;
    font-weight: bold;
    font-size: 1em;
  }
}