{% extends 'index.html' %}
{% load static %}
{% load fontawesome_5 %}
{% block content %}
    <section class="news-detail" style="background-image: url('{% static "img/post-detail-background.jpg" %}')">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="post d-flex flex-column align-items-center rounded">
                {% if post.img %}
                    <div class="img-container w-100 ">
                        <img class="img-fluid card-img-top" src="{{ post.img.url }}"
                             alt="Card image cap">
                    </div>
                {% endif %}
                <div class="card-body">

                    <h4 class="card-title">{{ post.title }}</h4>
                    <h6 class="card-subtitle small text-muted mb-2">{{ post.date|date:'Y-m-d' }}</h6>
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                </div>
            </div>
        <button type="button" onclick="history.back()" class="btn btn-outline-secondary mt-3 px-3 py-2">{% fa5_icon 'long-arrow-alt-left' %} cofnij</button>
        </div>
    </section>
{% endblock %}