{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type='text/css'>#}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">#}
    <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% sass_src 'custom.scss' %}" type="text/css">
    <title>Document</title>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v7.0&appId=195488421796363&autoLogAppEvents=1" nonce="fxWpwMbC"></script>
    {% block content %}
    {% endblock %}
</body>
</html>